
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* Material Icons 및 Outlined 스타일을 @import로 추가 */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');


.ad702detail__box {
    padding: 15px 0;
    width: 80%;
    display:flex;
}

.ad702detail__main_container_box{
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    align-items: flex-start;
}

.ad702detail__main_title{
    padding: 20px 40px;
    width: 20%;
    text-align: center;
    align-self: center;
}
.ad702detail__textarea{
    border:1px solid #ddd;
    resize: none;
    padding: 12px;
}
